h1{
    font-size: 44px;
    font-family: 'Libre Baskerville', serif;
    line-height: 46px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -2px;
}
h3{
    font-size: 22px;
    margin-left: 5px;
    margin-top: -20px;
}
.name{
    margin-left: 20px;
}
.address{
    display: flex;
}
.padd{
    margin-left: 5px;
    margin-top: 22px;
}
.addres{
    margin-top: -15px;
    display: flex;
}
.prof{
    margin-top: 60px;
}
.prof h3{
    margin-bottom: 0;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
}
.prof ul{
    margin-left: 35px !important;
}
.history{
    margin-left: 64px;
    margin-top: -10px;
}
.history h4{
    margin-bottom: 0;
    font-size: 17px;
    line-height: 0;
    margin-top: 28px;
    font-family: 'Libre Baskerville', serif;
}