*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	padding:0px;
}
a.navbar-brand{
	padding: 2px 0px;
}
.dekstop-header{
	background-color: rgba(2, 48, 71, 0.93);
}
.main-nav{
	font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.dropdown-menu.show{
	display: flex;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.drpdwn-brdr{
	border: 1px solid transparent;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 10%);
	border-bottom: 6px solid #f68300;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.drpdwn-brdr a{
	background-color: #fff;
	color: #111;
	transition: 1s;
}
.drpdwn-brdr a:hover{
	color: #f68300;
	background-color: #fff;
}
.ul-brdr{
	border-bottom: 1px solid lightgrey;
}
.dropdown:hover .dropdown-menu{display:flex;}
.second-bar{
    background-color: rgba(2, 48, 71, 0.93);
    border-top: 1px solid hsla(0,0%,100%,.15);
    font-size: 15px;
    font-weight: 400;
}
.listing-top {
	border-bottom: 1px solid lightgrey;
}
span{
	color: #f68300;
}
.listing-top h6 {
    align-self: center;
    font-size: 21px;
    font-weight: 700;
	font-family: 'inter', sans-serif;
}
.svg-icon{
	color: lightgrey;
	font-size: 20px;
}
.input{
	width: 219px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
}
.input:hover{
	border-color: #f68300;
	border-radius: 10px;
}
.listing-button{
	border: 1px solid #f3f3f3;
    height: 37px;
	color: grey;
	border-radius: 5px;
    margin-top: 18px;
    padding: 6px 11px 0px 11px;
}
.listing-button:hover{
	color: #fff;
	background-color: #f68300;
	border: 1px solid white;
}
.border {
    border: 1px solid #dee2e6!important;
}
.filters {
    text-align: center;
}
.sidebox-text{
	color: #2583b1;
    
}
.sidebox-text:hover{
	color: #f68300;
}
.inputs{
	border-top: 1px solid #e7e9eb;
    padding-top:     px;
}
.input-min {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
	height: 42px;
}
.border-input{
	border: 1px solid transparent;
}
.min-dropdown{
	padding-top: 12px;
    font-size: 15px;
    color: lightgrey;
}
.min-dropdown:hover{
	color: grey;
	cursor: pointer;
}
.newcars-card {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(0 0 0 / 10%);
    padding: 20px 50px;
}
.newcars-img {
    display: flex;
    justify-content: center;
    position: relative;
}
.newcars-img img {
    height: 200px;
    object-fit: contain;
    width: auto;
}
.newcars-card h3 {
    margin-bottom: 0;
}
.newcar-price {
    color: #f68300;
}
.newcar-price small {
    color: #111;
    font-size: 12px;
}
.btn-finance {
    background-color: #f68300;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    padding: 2px 40px;
}
.btn-finance:hover{
	color: #fff;
	background-color: rgba(2, 48, 71, 0.93)
}
.btn-details {
    background-color: rgba(2, 48, 71, 0.93);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    margin-left: 10px;
    padding: 2px 40px;
}
.btn-details:hover{
	background-color: #f68300;
	color: #fff;
}
.pagination {
    background: #fff;
    display: inline-flex;
}
.pagination li {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}
.custom-paginate-main li.previous.disabled {
    align-self: center;
}
.custom-paginate-main li.previous.disabled a {
    color: grey;
    cursor: not-allowed;
    font-size: 20px!important;
}
.pagination li a {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}
.custom-paginate-main li a {
    border: 1px solid #ececec;
    border-radius: 5px;
    box-shadow: 0 0 1px rgb(0 0 0 / 10%);
    margin: 0 4px;
    padding: 0 10px!important;
}
.pagination .active {
    color: #f68300!important;
}
.custom-paginate-main li.next {
    align-self: center;
}
.seocrumbs a {
    color: #6c6c6c!important;
    font-size: 12px;
	font-weight: 500;
	margin-bottom: 0 !important;
	text-decoration: none;
}
.seocrumbs a:hover{
	border-bottom: 1px solid #6c6c6c;
}  
.footer-content h2{
	color: black;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.newsletter-input input{
    border: 1px solid #f1833b;
    border-radius: 8px;
    padding: 15px 15px;
    width: 278px;
}
.input-button{
	color: #fff;
    background: #f68300;
    padding: 0px 26px;
    border-radius: 12px;
    font-size: 20px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}