*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	padding:0px;
}
a.navbar-brand{
	padding: 2px 0px;
}
.dekstop-header{
	background-color: rgba(2, 48, 71, 0.93);
}
.main-nav{
	font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.dropdown-menu.show{
	display: flex;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.drpdwn-brdr{
	border: 1px solid transparent;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 10%);
	border-bottom: 6px solid #f68300;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.drpdwn-brdr ul:hover{
	
}
.drpdwn-brdr a{
	background-color: #fff;
	color: #111;
	transition: 1s;
}
.drpdwn-brdr a:hover{
	color: #f68300;
	background-color: #fff;
}
.ul-brdr{
	border-bottom: 1px solid lightgrey;
}
.dropdown:hover .dropdown-menu{display:flex;}
.second-bar{
    background-color: rgba(2, 48, 71, 0.93);
    border-top: 1px solid hsla(0,0%,100%,.15);
    font-size: 15px;
    font-weight: 400;
}
.auction-sheet-card {
    background-color: #ececec;
    border: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 40px 20px;
}
.auction-sheet-card h3 {
    color: #f68300;
	font-size: 26px;
}
.auction-sheet-card p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.auction-sheet-card input {
    border-radius: 10px;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    margin-bottom: 0;
    margin-top: 30px;
    padding: 16px!important;
}
.btn-auction-sheet {
    background-color: #f68300;
    border-radius: 10px;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}
.btn-auction-sheet:hover{
	color: #fff;
}
.auction-sheet-content h1 {
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 2px;
    text-align: center;
    text-transform: uppercase;
}
.auction-sheet-content p {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.auction-sheet-content img {
    height: 250px;
    object-fit: contain;
    width: auto;
}
.million-card .card {
    background-color: #618597;
    border: 0;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    text-align: center;
}
.million-card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}
.million-card p {
    font-size: 14px;
    margin-bottom: 0;
}
.card:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.dont-risk {
    margin-top: 40px;
}
.dont-risk h1 {
    font-weight: 600;
    margin-bottom: 0;
}
.dont-risk h1 span {
    color: #f68300;
}
.dont-risk p {
    color: #618597;
    font-size: 26px;
    font-weight: 300;
}
.risk-card {
    border: 1px solid #f68300;
    border-radius: 12px;
    box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    cursor: pointer;
    height: 100%;
    padding: 15px;
}
.risk-card:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}
.risk-card img {
    height: 40px;
    object-fit: contain;
    width: 40px;
}
.risk-card p {
    color: #618597;
    font-size: 17px;
    font-weight: 300;
	margin-left: 10px;
}
.card-text {
    align-self: center;
    font-size: 16px;
    margin-bottom: 0;
}
.auction-btn{
    background-color: #f68300;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    padding: 8px 30px;
}
.auction-btn:hover {
	background-color: rgba(2, 48, 71, 0.93);
    transition: .2s linear;
	color: #fff;
}
.qualities .card{
    border-radius: 0;
    cursor: pointer;
    padding: 30px;
    text-align: center;
}
.qualities .card:hover {
    box-shadow: 0 0 40px rgb(0 0 0 / 8%);
    z-index: 3;
}
.qualities h4{
	color: #f68300;
}
.read-more-btn{
	background-color: #f68300;
	color: #fff;
	font-weight: 600;
    padding: 8px 30px;
	border-radius: 10px;
}
.read-more-btn:hover{
	background-color: rgba(2, 48, 71, 0.93);
	color: #fff;
}
.never-buy{
	margin-top: 50px;
}
.never-buy h2 {
    color: #f68300;
    font-weight: 700;
}
.products h3 {
    font-size: 30px;
    font-weight: 500;
}
.products-card {
    padding: 10px;
}
.products-card .offer-1 {
    background-color: #fff;
    border-radius: 10px!important;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    cursor: pointer;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.products-card .offer-1:hover {
    box-shadow: 1px 1px 30px rgb(0 0 0 / 10%);
}
.products-card h4 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0;
}
.sample-sheet .sample-card {
    padding: 30px;
}
.sample-card img {
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    height: 300px;
    object-fit: contain;
    width: 255px;
}
.sample-card .card-sample {
    border: 0;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    margin: 20px 0;
    padding: 6px;
}
.sample-btn{
    color: #f68300;
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
}
.car-brands {
    margin-top: 10px;
}
.car-brands p{
	font-size: 15px;
}
.car-brands h2 {
    margin-bottom: 20px;
    text-align: center;
	font-weight: 700;
}
.card-brand {
    border: 1px solid #ececec;
    border-radius: 12px;
    padding: 10px;
	box-shadow: 0;
}
.card-brand:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    border: 1px solid #f68300;
    color: #f68300;
}
.auction-sheet-guide h2 {
    margin-bottom: 20px;
    text-align: center;
	font-weight: 700;
}
.auction-sheet-guide .guide-card {
    border: 0;
    border-radius: 12px;
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
}
.guide-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 310px!important;
    object-fit: cover;
    width: 100%;
}
.guide-text {
    margin: 0 20px 10px;
}
.guide-text h4 {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.guide-text p {
    letter-spacing: 2px;
}
.guide-card-right {
    border: 0;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgb(0 0 0 / 10%);
}
.guide-card-right img {
    border-radius: 13px;
    height: 223px;
    object-fit: cover;
    width: 228px;
}
.guide-card-right .read-btn {
    border: 1px solid #f68300;
    border-radius: 8px;
    color: #f68300;
    margin: 15px 0;
}
.read-btn:hover{
	color: #fff;
	background-color: #f68300;
}
.browse-btn{
	background-color: #f68300;
	color: #fff;
	padding: 10px 24px;
	border-radius: 15px;
}
.browse-btn:hover{
	background-color: rgba(2, 48, 71, 0.93);
	color: #fff;
}
.news-card img{
	height: 180px;
    width: 100%;
}
.news-card h4{
    font-size: 23px;
    margin-top: 10px;
}
.news-card p{
	letter-spacing: 1px;
	font-weight: 500;
}
.clients-text{
	margin-bottom: -174px;
	margin-left: 127px;
	font-size: 105px;
	color: #f68300;
	z-index:2;
	position:relative
}
.clients-text h1{
	position: relative;
    z-index: 2;
    top: -110px;
    color: #fff;
    left: 30px;
    font-size: 95px;
}
.happy-clients-card {
    background-color: #fafafa;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    height: 100%;
    padding: 50px 40px 0px 40px;
	height: 217px;
    text-align: center;
}
.happy-clients-card:hover{
	box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.Question-btn {
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    padding: 15px;
}
.Question-btn:hover{
	color: #f68300;
}
.seocrumbs a {
    color: #6c6c6c!important;
    font-size: 14px;
	text-decoration: none;
}
.seocrumbs a:hover{
	border-bottom: 1px solid #6c6c6c;
}  
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.footer-content h2{
	color: black;
	font-size: 19px;
	/* font-weight: 600; */
	font-family: 'Roboto Condensed', sans-serif;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}