*{
    margin: 0;
    padding: 0;
}
.contact-us-main {
    padding: 30px;
}
.card{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 12px;
}
.contact p {
    color: #fff;
    font-size: 12px;
    font-weight: 300!important;
}
.form-group label{
    font-size: 18px;
}
.form-group input{
    border-radius: 10px;
    padding: 12px 12px;
    font-size: 15px;
    font-weight: 300;
}
.myStyle {
  border: 1px solid red;
}
.form-group select{
    border-radius: 10px;
    padding: 12px 12px;
    font-size: 15px;
    font-weight: 300;
}
.msg{
    border-radius: 10px;
    padding: 12px 12px;
    font-size: 15px;
    font-weight: 300;
}
.btnn:focus,.btnn:active {
    border: 1px solid grey !important;
    box-shadow: none;
}
.button {
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  
}

.button:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
  color: #fff;
}
.validation {
  padding: 7px 5px 10px 10px;
  line-height: 14px;
  color: red;
  display: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 21px;
    padding: 18px 34px;
  }
}