*{
	margin: 0;
	padding: 0;
}
.dekstop-header{
	background-color: #0c3148;
}
.main-nav{
	font-size: 0;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.second-bar{
    background-color: #0c3148;
    border-top: 1px solid hsla(0,0%,100%,.15);
    font-size: 15px;
    font-weight: 400;
}
.background{
	background: linear-gradient(rgba(63,76,82,.23),rgba(2,48,71,.929)),url("https://autodeals.pk/static/media/banner.1dee50d13788f9fe04f2.png");
    background-size: cover;
    height: 300px;
}
.head-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    margin-top: 60px;
    padding: 20px 20px 10px;
    text-align: center;
	width: 470px;
}
.head-banner{
    align-self: center;
    color: #fff;
    padding-bottom: 115px;
    padding-left: 115px;
}
.head-banner h1 {
    font-size: 50px;
}
.head-banner p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.card-input{
	border-radius: 10px;
}
.btn-search{
	background-color: #f68300;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 8px;
}
.btn-search:hover{
	color: #fff;
	background-color: #0c3148;
}
.browse-btn{
	background-color: #f68300;
	color: #fff;
	border-radius: 10px;
}
.browse-btn:hover{
	background-color: rgba(2, 48, 71, 0.93);
	color: #fff;
}
.card img {
    display: flex;
    height: 50px;
    justify-content: center;
    object-fit: cover;
    width: auto;
}
.card {
    border: 1px solid #ececec;
    border-radius: 12px;
    padding: 10px;
	box-shadow: 0;
}
.card:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.activee, .card:hover {
    border: 1px solid #f68300;
    color: #f68300;
}
.brand-name {
    font-size: 14px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.car-price h3 {
    color: #f68300;
    font-size: 30px;
}
.carousel-btn{
	border: 1px solid #f68300;
    border-radius: 17px;
    padding: 5px 18px;
    font-weight: 800;
    color: #f68300;
}
.carousel-btn2{
	border: 1px solid #111;
    border-radius: 17px;
    padding: 5px 32px;
    font-weight: 800;
    color: #111;
    margin-top: 6px;
}
.prev-btn{
	background-color: grey;
    color: #fff;
    height: 66px !important;
    width: 32px !important;
    border-radius: 10px 0 0 10px;
    margin-left: -45px !important;
    margin-top: 174px;
}
.nxt-btn{
	background-color: grey;
    color: #fff;
    height: 66px !important;
    width: 32px !important;
    border-radius:0 10px 10px 0; 
    margin-right: -50px !important;
    margin-top: 174px;
}
.car-price p {
    color: #878686;
    font-size: 22px;
    margin-bottom: 0;
}
.popular-cars img {
    height: 150px;
    object-fit: contain;
    width: auto;
}
.popular-cars-heading {
    padding: 0 20px;
    text-align: center;
}
.popular-cars-heading h5{
    color: #f68300;
    font-size: 24px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popular-cars-price {
    color: #7c7b7b;
    font-size: 14px;
    font-weight: 500;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-items {
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}
.card-items p {
    color: #7b7b7b;
    font-size: 16px;
    font-weight: 400;
}
.price-hover:hover{
	border: 1px solid transparent;
	 box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.price-hover p:hover{
	font-size: 18px;
}
.category .card {
    border: 1px solid #ececec;
    border-radius: 12px;
    cursor: pointer;
    padding: 15px 0;
}
.category .card:hover{
	border: 1px solid #f68300;
}
.category .card img{
	display: flex;
    height: 50px;
    justify-content: center;
    object-fit: contain;
    width: auto;
}
.category p {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Compr {
    background-color: #fff;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.line {
    border-right: 2px dashed #f68300;
    margin-top: -18px;
    transform: rotate(20deg);
	position: relative;
    z-index: 2;
	height: 328px;
    margin-left: 40px;
}
.vs{
	background-color: #f68300;
    color: #fff;
    height: 75px;
	width: 75px;
    margin-top: 125px;
    position: relative;
    z-index: 3;
    margin-left: -50px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 24px;
	font-size: 23px;
}
.p1 {
    color: #fff;
    font-weight: 500;
    margin-top: 0.5rem;
}
.p2 {
    color: #fff;
    font-weight: 500;
	margin-top: -39px;
    margin-left: 11px;
}
.border-left {
    border-left: 1px solid #dee2e6!important;
}
.div2-vs1 {
    border-bottom: 1px solid #e2d5d5;
    text-align: center;
}
.div2-vs1 img {
    /* height: auto; */
    /* object-fit: contain; */
    width: 140px;
}
.div2-vs1 h6 {
    font-weight: 500;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vs2 {
    background-color: #f68300;
    border-radius: 50%;
    height: 39px;
	z-index:  2;
    transform: scale(1.5);
}
.vs2 p {
    color: #fff;
    font-size: large;
    font-weight: 500;
    margin-top: 0.2rem;
	margin-left: -1px;
}
.line2{
    border-right: 2px dashed #f68300;
    height: 29%;
    left: 68%;
    position: absolute;
	z-index: 1;
    transform: rotate(20deg);
	margin-bottom: 37px;
}
.compr-btn{
    background-color: #f68300;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    padding: 8px 20px;
}
.compr-btn:hover{
	color: white;
}
.image-overlay {
    color: #000;
    cursor: pointer;
    position: relative;
}
.play-icon {
    background-color: #000;
	color: #fff;
    border-radius: 7px;
    cursor: pointer;
    left: 50%;
    line-height: 36px;
    margin: -18px 0 0 -18px;
    position: absolute;
    top: 45%;
    width: 36px;
	padding-left: 12px;
}
.play-icon:hover{
	background-color: rgb(255,0,0,.7);
}
.image-overlay img {
    border-radius: 5px;
}
.seocrumbs a {
    color: #6c6c6c!important;
    font-size: 12px;
	font-weight: 500;
	margin-bottom: 0 !important;
	text-decoration: none;
}
.seocrumbs a:hover{
	border-bottom: 1px solid #6c6c6c;
}  
.footer-content h2{
	color: black;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}
