*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	padding:0px;
}
a.navbar-brand{
	padding: 2px 0px;
}
.dekstop-header{
	background-color: rgba(2, 48, 71, 0.93);
}
.main-nav{
	font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.dropdown-menu.show{
	display: flex;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.drpdwn-brdr{
	border: 1px solid transparent;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 10%);
	border-bottom: 6px solid #f68300;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.drpdwn-brdr ul:hover{
	
}
.drpdwn-brdr a{
	background-color: #fff;
	color: #111;
	transition: 1s;
}
.drpdwn-brdr a:hover{
	color: #f68300;
	background-color: #fff;
}
.ul-brdr{
	border-bottom: 1px solid lightgrey;
}
.dropdown:hover .dropdown-menu{display:flex;}
.second-bar{
    background-color: rgba(2, 48, 71, 0.93);
    border-top: 1px solid hsla(0,0%,100%,.15);
    font-size: 15px;
    font-weight: 400;
}
.overflow{
	overflow: auto;
}
.thumdnails{
	height: 98px;
	width: 140px;
	border: 3px solid white;
	transition: border .5s ease-out;
	overflow: hidden;
}
.thumdnails:hover{
	border-color: darkblue;
}
.active{
	border-color: darkblue;
}
.prev-btn{
	background-color: grey;
    color: #fff;
    height: 90px !important;
    width: 46px !important;
    border-radius: 10px 0 0 10px;
    margin-left: -46px !important;
    margin-top: 140px;
}
.nxt-btn{
	background-color: grey;
    color: #fff;
    height: 90px !important;
    width: 50px !important;
    border-radius:0 10px 10px 0; 
    margin-right: -50px !important;
    margin-top: 140px;
}
.car-name h3{
    margin-top: 14px;
    font-weight: 700;
}
.car-name h4{
	color: #f68300;
    font-size: 26px;
    font-weight: 700;
}
.varient-card {
    border: 0;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    margin: 0 32px;
}
.overview-details {
    border-bottom: 1px solid #e3e2e2;
    padding-bottom: 10px;
    word-break: break-word;
}
.price-in-pakistan {
    margin-top: 80px;
}
.price-in-pakistan h3{
	font-weight: bold;
    margin: 20px 0;
}
.price-in-pakistan p {
    color: #626161;
    font-size: 22px;
    font-weight: 300;
}
 .overflow-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.colors {
    box-shadow: 0 0 4px rgb(0 0 0 / 14%);
    margin-bottom: 5px;
    padding: 37px;
}
.browse-btn{
	background-color: #f68300;
	color: #fff;
	border-radius: 10px;
	padding: 10px 32px;
}
.browse-btn:hover{
	background-color: rgba(2, 48, 71, 0.93);
	color: #fff;
}
.popular-listing {
    margin-top: 30px;
}
.main-popular {
    margin-bottom: 20px;
}
.main-popular .popular-cars-img {
    display: flex;
    justify-content: center;
}
.popular-cars-img img {
    height: 150px;
    object-fit: contain;
    width: auto;
}
.popular-cars-details {
    padding: 0 20px;
    text-align: center;
}
.popular-cars-details h5 {
    color: #f68300;
    font-size: 25px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popular-cars-price {
    color: #7c7b7b;
    font-size: 15px;
    font-weight: 400;
}
.border-right {
    border-right: 1px solid #dee2e6!important;
}
.TAFT {
    margin-top: 20px;
}
.TAFT-card {
    background-color: #fbfbf9;
    margin-top: 20px;
}
.TAFT-details {
    border-bottom: 1px solid #cecece;
    display: flex;
    justify-content: space-between;
    padding: 1px;
}
.image-overlay {
    color: #000;
    cursor: pointer;
    position: relative;
}
.play-icon {
    background-color: #000;
	color: #fff;
    border-radius: 7px;
    cursor: pointer;
    left: 50%;
    line-height: 36px;
    margin: -18px 0 0 -18px;
    position: absolute;
    top: 45%;
    width: 36px;
	padding-left: 12px;
}
.play-icon:hover{
	background-color: rgb(255,0,0,.7);
}
.main-image {
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
}
.custom-img-listing {
    align-self: center;
    height: 17px;
    width: 17px;
}
.card-price{
	color: #f68300;
	font-weight:700;
}
.pkr{
	color: grey;
    font-size: 10px;
    font-weight: 400;
}
.Compr {
    background-color: #fff;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.image-overlay img {
    border-radius: 5px;
}
.new-cars-card{
	border-radius: 12px;
	
}
.text-on-image {
    color: #fff;
    text-align: center;
}
.product-label-featured label {
    background-color: #f68300 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 10px;
    top: 0;
    font-size: 0px;
    left: 0;
    padding: 5px;
    position: absolute;
	width: 52px;
}
.line {
    border-right: 2px dashed #f68300;
    margin-top: -18px;
    transform: rotate(20deg);
	position: relative;
    z-index: 2;
    margin-left: 21px;
    height: 308px;
}
.vs{
	background-color: #f68300;
    color: #fff;
    height: 75px;
	width: 75px;
    margin-top: 104px;
    position: relative;
    z-index: 3;
    margin-left: -37px;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 24px;
	font-size: 23px;
}
.p1 {
    color: #fff;
    font-weight: 500;
    margin-top: 0.5rem;
}
.p2 {
    color: #fff;
    font-weight: 500;
	margin-top: -39px;
    margin-left: 11px;
}
.border-left {
    border-left: 1px solid #dee2e6!important;
}
.div2-vs1 {
    border-bottom: 1px solid #e2d5d5;
    text-align: center;
}
.div2-vs1 img {
    /* height: auto; */
    /* object-fit: contain; */
    width: 116px;
}
.div2-vs1 h6 {
    font-weight: 500;
    margin-top: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.vs2 {
    background-color: #f68300;
    border-radius: 50%;
    height: 35px;
	z-index:  2;
    transform: scale(1.5);
}
.vs2 p {
    color: #fff;
    font-size: large;
    font-weight: 500;
    margin-top: 0.2rem;
	margin-left: -4px;
}
.line2{
    border-right: 2px dashed #f68300;
    height: 26%;
    left: 72%;
    position: absolute;
	z-index: 1;
    transform: rotate(20deg);
	margin-bottom: 37px;
}
.news-card img{
	height: 180px;
    width: 100%;
}
.news-card h4{
    font-size: 23px;
    margin-top: 10px;
}
.news-card p{
	letter-spacing: 1px;
	font-weight: 500;
}
.seocrumbs a{
	color: grey;
	font-size: 13px;
	text-decoration: none;
}
.seocrumbs a:hover{
	text-decoration: underline;
}
.sml{
	text-decoration: none;
}
.sml small:hover{
	text-decoration: underline #f68300;;

}
.anchor{
	text-decoration: none;
	cursor: pointer;
}
.anchor:hover{
	text-decoration: underline;
}
.footer-content h2{
	color: black;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.newsletter-input input{
    border: 1px solid #f1833b;
    border-radius: 8px;
    padding: 15px 15px;
    width: 278px;
}
.input-button{
	color: #fff;
    background: #f68300;
    padding: 0px 26px;
    border-radius: 12px;
    font-size: 20px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}