*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	padding:0px;
}
a.navbar-brand{
	padding: 2px 0px;
}
.dekstop-header{
	background-color: rgba(2, 48, 71, 0.93);
}
.main-nav{
	font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.jumbotron {
    background: linear-gradient(rgba(29,84,107,.0),rgba(2,48,41,.9)),url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover;
    border-radius: 0;
}
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    min-width: 0;
    position: relative;
}
.main-card {
	margin-top: 34px;
    margin-bottom: 32px;
	border-radius: 14px;
}
.tabs{
	border: 1px sold black;
	background-color: #ececec;
	border-radius: 0px;
	color: black;
	border-radius: 13px 13px 0 0;
	border-right: 1px solid grey;
    padding: 15px 18px;
	color: grey;
	cursor: pointer;
}
li.tabs .active{
	border-radius: 13px 13px 0 0;
	border: 2px sold black;
	border-bottom-style: none;
	border-radius: px;
	color: #fff;
    padding: 15px 20px;
	cursor: pointer;
}
.tabs:hover{
	color: #fff;
	background-color: #f68300;
}
.tabs:hover, a.active{
	color: #fff;
	background-color: #f68300;
}
.budget-items{
	border: 1px solid #ececec;
    border-radius: 12px;
    box-shadow: 0 0 4px rgb(0 0 0 / 7%);
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}
.budget-items:hover{
	box-shadow: 0px 3px 5px rgb(0, 0 , 0 ,.25);
}
.input{
	border-radius: 11px;
	font-weight: 400;
	padding: 8px 8px 8px 16px;
	border: 1px solid lightgrey;
    width: 100%;
}
.city-option{
	line-height: 10px;
}
select.decorated option:hover{
	color: #fff;
	background-color: black;
}
.verify-btn{
	padding: 6px 140px;
    background-color: #f68300;
    color: #fff;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 4px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.verify-btn:hover{
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 6px 6px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.search{
	padding: 6px 154px;
    background-color: #f68300;
    color: #fff;
    font-size: 21px;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 4px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.search:hover{
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 6px 6px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.heading{
	color: #fff;
    font-size: 40px;
	font-family: 'Rubik', sans-serif;
}
.paragraph{
	color: #fff;
	font-size: 21px;
}
.browse-heading{
	font-size: 28px;
	font-family: 'Rubik', sans-serif;
}
.browse-btn{
	background-color: #f68300;
	color: #fff;
}
.browse-btn:hover{
	background-color: rgba(2, 48, 71, 0.93);
	color: #fff;
}
.container-border{
	border: 1px solid grey;
    border-radius: 10px;
}
.browse-li{
	border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 24px 26px;
	color: black;
    text-decoration: none;
}
ul.browse-li .active{
	background-color: #f68300 !important;
	color: #fff;
	box-shadow: rgba;
	border-radius: 5px;
    border: 1px solid transparent;
    padding: 23px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.browse-li:hover{
	background-color: #f68300;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.27) 0px 4px 4px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.browse-li:hover, li.active{
	color: #fff;
	background-color: #f68300;
}
.model-data{
	color: #7b7b7b;
    cursor: pointer;
    padding: 15px;
}
.makes img{
    display: flex;
    height: 80px;
    justify-content: center;
    object-fit: cover;
    width: auto;
}
.makes a {
	text-decoration: none;
	color: black;
}
.makes p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	font-size: 13px;
}
.makes a:hover{
	text-decoration: underline;
	color: #f68300;
}
.bodytype img{
    display: flex;
    height: 60px;
    justify-content: center;
    object-fit: cover;
    width: auto;
}
.bodytype a {
	text-decoration: none;
	color: black;
}
.bodytype p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
	font-size: 13px;
}
.bodytype a:hover{
	text-decoration: underline;
	color: #f68300;
}
.car-anchor{
	text-decoration: none;
	color: #111;
}
.comparison{
	margin-top: 105px;
    margin-bottom: 111px;
    border: 1px solid;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: #f68300;
    color: #fff;
}
.changan{
	margin-left: 80px;
	font-weight: 500;
	color: black;
}
.comparison-button{
	background-color: #f68300;
    padding: 9px 121px;
    margin-left: 102px;
}
.VS-heading{
	border: 1px solid;
    margin-right: 106px;
    border-radius: 50%;
    padding: 10px 10px;
	background-color: #f68300;
	color: white;
	margin-left: 105px;
}
.used-carr{
		margin-left: 130px;
	}
.card-logo{
	height: 60px;
    border-radius: 50%;
    border: 5px solid lightgray;
	width: 60px;
}
.bar-icon{
	color: white;
	border: 3px solid white;
	padding: 10px;
	border-radius: 7px;
}
.used-car{
	margin-left: 150px;
}
.bg-orange{
	background-color: #f68300;
}
.footer-content{
	font-family: var(--bs-font-sans-serif);
}
.footer-content h2{
	color: black;
	font-size: 19px;
	/* font-weight: 600; */
	font-family: 'Roboto Condensed', sans-serif;
}
.newsletter-input input{
    border: 1px solid #f1833b;
    border-radius: 8px;
    padding: 25px 20px;
    width: 200px;
}
.form-control {
    color: #495057;
    height: calc(1.5em + 0.75rem + 2px);
}
.newsletter {
    padding: 20px 0 15px;
	width: 300px;
}
.input-button{
	background-color: #f68300;
    border-radius: 10px;
	padding: 10px 33px;
	color: white;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}


.column-3 {
    padding-top: 0;
    width: 885px;
}
.nav-link-new {
    color: #000;
    text-decoration: none;
}
.nav-link-new {
    border-bottom: 1px solid #ececec;
    display: flex;
    margin-bottom: 10px;
}
.nav-link-new a {
    color: #000;
    text-decoration: none;
}
.nav-link-new a h5 {
    font-size: 14px;
    font-weight: 500;
}
.cards img {
    display: flex;
    height: 50px;
    justify-content: center;
    object-fit: cover;
    width: auto;
}
.cards {
    border: 1px solid #ececec;
    border-radius: 12px;
    padding: 10px;
	box-shadow: 0;
}
.cards:hover {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}
.activee {
    box-shadow: 0 0 20px rgb(0 0 0 / 6%);
}
.activee, .cards:hover {
    border: 1px solid #f68300;
    color: #f68300;
}
.brand-name {
    font-size: 14px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.car-price{
	background-color: #fff;
}
.car-price h3 {
    color: #f68300;
    font-size: 30px;
}
.carousel-btn{
	border: 1px solid #f68300;
    border-radius: 17px;
    padding: 5px 16px;
    font-weight: 800;
    color: #f68300;
}
.carousel-btn2{
	border: 1px solid #111;
    border-radius: 17px;
    padding: 5px 30px;
    font-weight: 800;
    color: #111;
    margin-top: 6px;
}
.prev-btn{
	background-color: grey;
    color: #fff;
    height: 66px !important;
    width: 32px !important;
    border-radius: 10px 0 0 10px;
    margin-left: -45px !important;
    margin-top: 174px;
}
.nxt-btn{
	background-color: grey;
    color: #fff;
    height: 66px !important;
    width: 32px !important;
    border-radius:0 10px 10px 0; 
    margin-right: -50px !important;
    margin-top: 174px;
}
.car-price p {
    color: #878686;
    font-size: 22px;
    margin-bottom: 0;
}
.dropdown-menu.show{
	display: flex;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.drpdwn-brdr{
	border: 1px solid transparent;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 10%);
	border-bottom: 6px solid #f68300;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.drpdwn-brdr ul:hover{
	
}
.drpdwn-brdr a{
	background-color: #fff;
	color: #111;
	transition: 1s;
}
.drpdwn-brdr a:hover{
	color: #f68300;
	background-color: #fff;
}
.ul-brdr{
	border-bottom: 1px solid lightgrey;
}
.dropdown:hover .dropdown-menu{display:flex;}
.algin{
	align-content: space-between !important;
}


/* carousel-items css */
.products h3 {
    font-size: 30px;
    font-weight: 500;
}
.products-card {
    padding: 10px;
}
.products-card .offer-1 {
    background-color: #fff;
    border-radius: 10px!important;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    cursor: pointer;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.products-card .offer-1:hover {
    box-shadow: 1px 1px 30px rgb(0 0 0 / 10%);
}
.products-card h4 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0;
}
.saga-car{
	width: 100%;
    height: auto;
    object-fit: contain;
}
.petrol-price-heading h1{
	font-weight: 700;
    font-size: 42px;
    color: rgba(2, 43, 71, 0.93);
}
.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
}
.main-image {
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.card-s{
	border-radius: 12px;
	box-shadow: 0px 0px 4px rgb(0 0 0 / 8%);
}
.custom-img-listing {
    align-self: center;
    height: 21px;
}
.card-price{
	color: #f68300;
	font-weight:700;
	font-size: 17px;
}
.pkr{
	color: grey;
    font-size: 10px;
    font-weight: 500;
}
.card-body h5{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-on-image {
    color: #fff;
    text-align: center;
}
.product-label-featured label {
    background-color: #f68300 !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 10px;
    top: 0;
    font-size: 0px;
    left: 0;
    padding: 10px 5px;
    position: absolute;
	width: 52px;
}
.product-label-featured i{
	font-size: 16px;
}
.product-label-featured span{
	font-size: 13px;
}
.specs span{
	font-size: 13px;
}
.locations button{
	padding: 2px 17px;
	background-color: rgba(2, 48, 71, 0.93);
    color: #fff;
}
.locations button:hover{
	color: #fff;
	background-color: #f68300;
}


@media (max-width: 768px) {
	.main-card {
		margin-top: 80px;
		margin-bottom: 0px;
	}
	.heading{
		color: #fff;
		margin-top: 20px;
		font-size: 38px;
		font-family: 'Rubik', sans-serif;
}
	.paragraph{
		color: #fff;
		font-size: 18px;
}
.banner-heading{
	font-size: 22px;
	font-family: 'Rubik', sans-serif;
}
.banner-li{
	border: 1px solid lightgrey;
    border-radius: 7px;
    padding: px px;
	color: black;
    text-decoration: none;
}
	.used-car{
		margin-left: 100px;
	}
	.used-carr{
		margin-left: 70px;
	}
	.comparison-button{
	background-color: orange;
    padding: 9px 100px;
    margin-left: 60px;
	margin-bottom: 20px;
}
	.VS-heading{
	border: 1px solid;
    margin-right: 205px;
    border-radius: 50%;
    padding: 10px 10px;
	background-color: orange;
	color: white;
	margin-left: 205px;
}
.kalash-car{
	margin-left: -75px;
	margin-right: -20px;
}
.changan{
	margin-left: 30px;
	font-weight: 500;
}
.card-img{
	height: 300px;
}

