*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	padding:0px;
}
a.navbar-brand{
	padding: 2px 0px;
}
.dekstop-header{
	background-color: rgba(2, 48, 71, 0.93);
}
.main-nav{
	font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.dropdown-menu.show{
	display: flex;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.drpdwn-brdr{
	border: 1px solid transparent;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 10%);
	border-bottom: 6px solid #f68300;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.drpdwn-brdr ul:hover{
	
}
.drpdwn-brdr a{
	background-color: #fff;
	color: #111;
	transition: 1s;
}
.drpdwn-brdr a:hover{
	color: #f68300;
	background-color: #fff;
}
.ul-brdr{
	border-bottom: 1px solid lightgrey;
}
.dropdown:hover .dropdown-menu{display:flex;}
.second-bar{
    background-color: rgba(2, 48, 71, 0.93);
    border-top: 1px solid hsla(0,0%,100%,.15);
    font-size: 15px;
    font-weight: 400;
}
.bg-pic {
    background: linear-gradient(rgba(63,76,82,.23),rgba(2,48,71,.929)),url("https://autodeals.pk/static/media/banner.a676f093b6e8463c1e96.png");
    background-position: 50%;
    background-size: cover;
    border-radius: 0;
    height: 330px;
}
.head-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    margin-top: 71px;
    padding: 20px 20px 10px;
	margin-left: 10px;
    text-align: center;
	width: 470px;
}
.calculate-btn{
	background: #f68300;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
.calculate-btn:hover{
	color: #fff;
}
.price-banner {
    margin-top: 120px;
	margin-left: 87px
}
.price-banner h3 {
    color: #fff;
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 0;
}
.price-banner p {
    color: #fff;
    font-size: 37px;
    text-transform: capitalize;
    font-weight: 400;
}
.why-choose {
    padding-top: 140px;
}
.why-choose h2{
	color: #f68300;
    font-size: 47px;
    font-weight: 700;
}
.why-choose .icon {
    color: #f68300;
    font-size: 40px;
}
.why-choose .content {
    padding-bottom: 23px;
    padding-left: 10px;
    padding-right: 40px;
}
.content h3 {
    font-size: 20px!important;
    font-weight: 600;
    margin: 0;
}
.content p {
    font-size: 16px;
    padding: 0;
}
.insrnce-prtnr h2{
	color: #f68300;
    font-size: 46px;
    font-weight: 700;
}
.car-insurance-img {
    align-content: center;
    align-items: center;
    border: 1px solid #d5d2d2;
    display: flex;
    justify-content: center;
    margin: 7px;
    padding: 2px 5px;
	width: 168px;
}
.car-insurance-img img {
    align-self: center!important;
    height: 133px;
    max-width: 100%;
}
.insrnce-steps h3{
	color: #f68300;
    font-size: 41px;
    font-weight: 700;
}
.step-section {
    padding: 0 50px;
}
.circle {
    background-color: #fff;
    border: 1px solid #f68300;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    position: relative;
    width: 7%;
    z-index: 3;
}
.circle p {
    align-self: center;
    color: #f68300;
    font-size: 34px;
    font-weight: 800;
    margin: 0;
}
.line-section {
    position: absolute;
}
.line-section .line {
    background-color: #000;
    height: 1px;
    margin-left: 50px;
    margin-top: -35px;
    width: 950px;
}
.content-area {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.content-title {
    font-size: 14px;
    text-align: center;
    width: 16%;
}
.faqs-heading{
	color: #f68300;
    font-weight: 700;
}
.FAQs button {
    border-radius: 0;
    padding: 10px;
}
.FAQs button h5 {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}
.footer-content h2{
	color: black;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.newsletter-input input{
    border: 1px solid #f1833b;
    border-radius: 8px;
    padding: 15px 15px;
    width: 278px;
}
.input-button{
	color: #fff;
    background: #f68300;
    padding: 0px 26px;
    border-radius: 12px;
    font-size: 20px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}