*{
	margin: 0;
	padding: 0;
}
nav.navbar{
	padding:0px;
}
a.navbar-brand{
	padding: 2px 0px;
}
.dekstop-header{
	background-color: rgba(2, 48, 71, 0.93);
}
.main-nav{
	font-size: 16px;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}
.btnn:focus,.btnn:active {
   border: 1px solid grey !important;
   box-shadow: none;
}
.mega-menu{
	text-decoration: none;
}
.mega-menu span{
	color: white;
	height: 100%;
    padding: 19px 25px;
    border-radius: 0;
}
.mega-menu span:hover{
	background-color: #fff;
	color: rgba(2, 48, 71, 0.93);
}
.nav-button{
	font-size: 16px;
    color: #fff;
    background-color: #f68300;
    border-radius: 10px;
}
.dropdown-menu.show{
	display: flex;
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.drpdwn-brdr{
	border: 1px solid transparent;
    box-shadow: 1px 1px 4px 4px rgb(0 0 0 / 10%);
	border-bottom: 6px solid #f68300;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.drpdwn-brdr ul:hover{
	
}
.drpdwn-brdr a{
	background-color: #fff;
	color: #111;
	transition: 1s;
}
.drpdwn-brdr a:hover{
	color: #f68300;
	background-color: #fff;
}
.ul-brdr{
	border-bottom: 1px solid lightgrey;
}
.dropdown:hover .dropdown-menu{display:flex;}
.second-bar{
    background-color: rgba(2, 48, 71, 0.93);
    border-top: 1px solid hsla(0,0%,100%,.15);
    font-size: 15px;
    font-weight: 400;
}
.bg-pic {
    background: linear-gradient(rgba(63,76,82,.23),rgba(2,48,71,.929)),url("https://autodeals.pk/static/media/banner.a676f093b6e8463c1e96.png");
    background-position: 50%;
    background-size: cover;
    border-radius: 0;
    height: 300px;
}
.head-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(204, 204, 204, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    margin-top: 71px;
    padding: 20px 20px 10px;
	margin-left: 20px;
    text-align: center;
	width: 470px;
}
.head-banner{
    align-self: center;
    color: #fff;
    padding-bottom: 115px;
    padding-left: 115px;
}
.head-banner h1 {
    font-size: 50px;
}
.head-banner p {
    font-size: 35px;
    font-weight: 400;
    text-align: left;
}
.decorated{
	border-radius: 10px;
	border: 1px solid #ececec;
    padding: 8px 10px;
}
.custom-btn {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 213px;
    width: 50%;
}
.custom-btn.active {
    background-color: #f68300;
    color: #fff;
    font-weight: 600;
}
.plan-btn{
	color: #fff;
    background: #f68300;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
}
.main h3 {
    color: #f68300;
    font-size: 36px;
    font-weight: 700;
    margin-top: 250px;
    text-align: center;
}
.financing-bank{
	padding: 30px 0px;
}
.banks-finance-heading h2 {
    color: #111;
    font-weight: 700;
    line-height: 35px;
    margin: 0 0 30px;
    text-transform: capitalize;
}
.banks-imgs {
    align-items: center;
    display: flex;
    height: 170px;
    justify-content: center;
    max-width: 170px;
    width: 100%;
}
.why-section{
    background-color: #f5f5f5;
}
.why-section .container {
    padding: 60px 0;
}
.why-section h3{
	color: #f68300;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.inner-section {
    width: 200px;
}
.inner-section svg {
    height: 70px;
    width: 70px;
}
.inner-section p {
    font-size: 18px;
    font-weight: 300;
    padding: 0 10px;
    text-align: center;
}
.inner-section img{
    height: 70px;
    width: 70px;
}
.section-2 {
    padding: 60px 0;
}
.section-2 h3 {
    color: #f68300;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}
.section-2 h4 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.section-2 p {
    font-size: 15px;
    font-weight: 300;
    padding: 0 30px;
    text-align: center;
}
.section-3 {
    padding: 40px 0;
}
.section-3 h2 {
    color: #f68300;
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
}
 .section-3 .FAQs button {
    border-radius: 0;
    padding: 10px;
}
.FAQs button h5 {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}
.seocrumbs a {
    color: #6c6c6c!important;
    font-size: 12px;
	font-weight: 500;
	margin-bottom: 0 !important;
	text-decoration: none;
}
.seocrumbs a:hover{
	border-bottom: 1px solid #6c6c6c;
}  
.footer-content h2{
	color: black;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
}
.newsletter-input input{
    border: 1px solid #f1833b;
    border-radius: 8px;
    padding: 15px 15px;
    width: 278px;
}
.input-button{
	color: #fff;
    background: #f68300;
    padding: 0px 26px;
    border-radius: 12px;
    font-size: 20px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.footer-icon{
	border-radius: 5px;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 27%) 0px 2px 2px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
.term-service {
    align-items: center;
    display: flex;
    font-size: 13px;
}